/JavaApplication4/nbproject/private/
/Helpdesk/nbproject/private/
/Helpdesk/build/
/HelpdeskADS/nbproject/private/
/HelpdeskADS/HelpdeskADS-war/nbproject/private/
/HelpdeskADS/HelpdeskADS-ejb/nbproject/private/
/HelpdeskWeb/nbproject/private/
/HelpdeskWeb/HelpdeskWeb-war/nbproject/private/
/HelpdeskWeb/HelpdeskWeb-war/build/
/HelpWeb/nbproject/private/
/HelpWeb/build/
/HelpWeb/dist/